APP_NAME=API Gateway
APP_PORT=9000

CALC_SERVICE_URL=http://localhost:5000
CALC_SERVICE_KEY=dev-secret-key-lokal-12345

DATABASE_URL=sqlite+aiosqlite:///./database_staging.db
DEBUG=True

INTERNAL_CLEANUP_TOKEN=string

JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

SEED_SUPERADMIN_USERNAME=superadmin
SEED_SUPERADMIN_EMAIL=
SEED_SUPERADMIN_PASSWORD=
SEED_SUPERADMIN_FULL_NAME=Super Admin

SEED_DEFAULT_USER_PASSWORD =password